@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size : 16px;
  font-family: 'Pretendard-Regular',sans-serif;
}
html {
  scroll-behavior: smooth; 
}
li {
  list-style: none;
}
button {
  padding: 0;
  border: 0;
  background: none;
}

/* HEADER */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 130px;
  padding: 15px 30px;
  margin: 0px auto;
}
.logo {
  width: 25%;
}
.logo > a > img {
  width: 150px;
}
.search-bar {
  width: 60%;
  text-align: center;
}
.search-bar > input {
  border: 0px;
  border-bottom: 1.5px solid black;
  width: 50%;
  height: 2rem;
  background-color: white;
  outline: none;
  padding-left: 5px;
}
.search-bar > button {
  background-color: white;
  border: none;
  font-size: 1.2rem;
}
.user-info {
  display: flex;
  width: 15%;
  justify-content: flex-end;
}
.user-info > svg {
  margin-left: 20px;
  font-size: 1.5rem;
}
.bar {
  display: none;
}

/* HEADER-NAV */
.nav,
.footer-top {
  background-color: black;
  padding: 10px 0;
}
.nav > svg {
  display: none
}
.nav-container,
.cs-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.nav-item {
  margin-right: 4%;
}
.nav-item > a,
.nav-item > a:visited {
  color: white;
  text-decoration: none;
}

/* FOOTER */
#footer {
  height: 350px;
}
.cs-item {
  color: white;
  margin-right: 2%;
  font-size: 0.9rem;
}
.cs-item:first-child {
  font-weight: 700;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
}
.footer-bottom > .logo {
  width: 30%;
}
.company-info{
  width: 35%;
  font-style: normal;
}
.company-info > h3,
.help-link > h3,
.social-link > h3 {
  font-weight: 500;
  margin-bottom: 15px;
}
.company-info > p {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 1rem 10px 1rem 0px;
  color: rgb(150, 148, 148);
}
.company-info > p > span:nth-child(2)::before {
  content: " | ";
  margin: 0px 5px;
}
.cs-link {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.help-link {
  margin-left: 30%;
}
.help-link > ul > li > a,
.help-link > ul > li > a:visited {
  color: #666;
  text-decoration: none;
  line-height: 28px;
  font-size: 0.9rem;
}
.social-icon {
  display: flex;
  flex-wrap: wrap;
}
.social-icon > svg {
  font-size: 1.5rem;
  margin: 7px;
}
.copyright {
  padding: 20px 0px;
  border-top: 1px solid rgb(187, 186, 186);
}
.copyright > p {
  width: 80%;
  margin: 0px auto;
  color: #666;
  font-size: 0.9rem;
}

/* scrollToTop Btn */
.top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  cursor: pointer;
}
.top-moved {
  font-size: 3rem;
  transform: rotate(-90deg);
  margin-top: 10px;
}


/* 태블릿 */
@media (max-width:1024px) {
  #header {
    height: 100px;
    padding: 15px 0;
    justify-content: space-between
  }
  .logo {
    width: initial;
  }
  .logo > a > img {
    width: 110px;
  }
  .search-bar {
    text-align: end;
    width: 100%;
  }
  .search-bar > input {
    display: none;
    width: 60%;
  }
  .search-bar > button > svg {
    font-size: 1.5rem;
  }
  .user-info {
    width: initial;
  }
  .user-info > svg {
    margin-left: 15px;
  }
  .bar,
  .nav > svg {
    display: block;
  }

  /* HEADER-NAV */
  header {
    position: sticky;
    top:0;
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid black;
  }
  .nav {
    /* display: none; */
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 50%;
    transition: all 1s;
    z-index: 9999;
  }
  .nav-active {
    right: 0px;
  }
  .nav-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .nav-item {
    margin: 0px;
    padding: 20px 0px
  }
  .nav-item > a,
  .nav-item > a:visited {
    font-size: 1.5rem;
  }
  .nav > svg {
    color: white;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    padding: 10px;
  }


  /* footter */
  #footer {
    height: 350px;
  }
  .footer-bottom {
    position: relative;
  }
  .footer-bottom > .logo {
    position: absolute;
    width: 0px;
    right: 90px;
    bottom: 1px;
  }
  .footer-bottom > .logo > img {
    width: 80px;    
  }
  .company-info{
    width: 60%;
  }
  .company-info > p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
  .company-info > p > span {
    font-size: 0.8rem;
  }
  .cs-link {
    width: 40%;
  }
  .help-link {
    margin-left: 0;
  }
  .help-link > ul > li > a,
  .help-link > ul > li > a:visited {
    line-height: 23px;
    font-size: 0.8rem;
  }
  .social-icon > svg {
    font-size: 1.2rem;
    margin-left: 0px;
  }
}


/* mobile */
@media (max-width: 768px) {
  #header {
    height: 90px;
  }
  .logo > a > img {
    width: 100px;
  }
  .search-bar > button > svg,
  .user-info > svg {
    font-size: 1.3rem;
  }
  
}
@media (max-width: 576px) {
  .content > .section-title {
    font-size : 2rem;
  }
  .prod-hidden > .main-wrap {
    width: 300px;
  }
  .main-wrap> .main-box > .main-item {
    width: 300px;
  }
  .brand-focus> .brand > a {
    width: 49%;
  }
  .cs-container,
  .footer-bottom {
    flex-wrap: wrap;
  }
  .company-info{
    width: 500px;
  }
  .help-link {
    width: 100%;
  }
  .footer-bottom > .logo {
    right: 150px;
    bottom: 70px;
  }
}




